# Server Port
PORT=8080

# SmartAPI credentials (must be valid JSON)
SMARTAPI_CREDENTIALS={
  "api_key":"api_key",
  "client_code":"client_code",
  "pin":"pin",
  "totp_secret":"totp_secret",
  "exchange":"NSE",
  "exchangeType":1,
  "price_scale":100,
  "mode":4,
  "instruments":{
    "NIFTY":{
      "symboltoken":"99926000",
      "tradingsymbol":"Nifty 50",
      "exchange":"NSE",
      "exchangeType":1,
      "price_scale":100
    },
    "RELIANCE":{
      "symboltoken":"2885",
      "tradingsymbol":"RELIANCE-EQ",
      "exchange":"NSE",
      "exchangeType":1,
      "price_scale":100
    }
  }
}